.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h1 Edit Question
      = form_for @question, class: "form-horizontal" do |f|
        .field.form-group
          = f.label :question, class: "col-sm-4 control-label"
          %br
          .col-sm-8
            = f.text_field :question, autofocus: true, class: "form-control"
        .field.form-group
          = f.label :category,class: "col-sm-4 control-label"
          %br
          .col-sm-8
            = f.select :category_id,content_tag(:option,'select one...',:value=>"") + options_from_collection_for_select(@categories, 'id', 'name',@question.category_id),{},class: 'form-control'
        .field.form-group
          - if @question.question_type == "Multi"
            %label.col-sm-4{:for => "question_question"} Options
            .col-sm-8
              %ul.question-list.edit-question
                - @question.options.each_with_index do |opt,ind|
                  %li
                    %input.form-control{:name => "question[options][#{ind+1}]", :type => "text",:id=> "question_options",value: opt.second}
          - else
            %label.col-sm-4.control-label check the correct answer
            .col-sm-8
              %ul.radio-list
                %li
                  %label.radio-inline
                    %input{:name => "question[correct_option]", :type => "radio", :value => "true",:checked => to_boolean(@question.correct_option) }>
                    TRUE
                %li
                  %label.radio-inline
                    %input{:name => "question[correct_option]", :type => "radio", :value => "false",:checked => !to_boolean(@question.correct_option)}>
                    FALSE
        .field.form-group
          %label.photo-label.col-sm-4 Side  Photo
          %span.btn.btn-default.btn-file.col-sm-8
            Upload Image
            = f.file_field :image,class: "upload"
        .actions.modal-btn-area
          = f.submit "Save"
