.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h1 Edit Writer
      = form_for @admin, class: "form-horizontal" do |f|
        .field.form-group
          = f.label :email, class: "col-sm-4 control-label"
          %br
          .col-sm-8
            = f.email_field :email, autofocus: true, class: "form-control"
        .field.form-group
          = f.label :name, class: "col-sm-4 control-label"
          %br
          .col-sm-8
            = f.text_field :name, class: "form-control"
        .field.form-group
          = f.label :last_name, class: "col-sm-4 control-label"
          %br
          .col-sm-8
            = f.text_field :last_name, class: "form-control"
        .actions.modal-btn-area
          = f.submit "Save"
