.container
  .row
    .col-md-7
      %button.btn.edit-profile-btn.pull-right{"data-target" => "#editProfile", "data-toggle" => "modal", :type => "button"}
        %a.fa.fa-pencil
      .panel.panel-default
        .panel-heading
          %h4 User Profile
        .panel-body
          .box.box-info
            .box-body
              .col-sm-6
                %div{:align => "center"}
                  %img#profile-image1.img-circle.img-responsive{:alt => "User Pic", :src => "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"}/
                  %input#profile-image-upload.hidden{:type => "file"}/
                  %div{:style => "color:#999;"} click here to change profile image
                  / Upload Image Js And Css
                %br/
                / /input-group
              .col-sm-6
                %h4{:style => "color:#00b1b1;"} #{@admin.name}
                %span
                  - if @admin.super_admin?
                    %p Admin
                  - else
                    %p Writer
              .clearfix
              %hr{:style => "margin:5px 0 5px 0;"}
              .col-sm-5.col-xs-6.tital Name:
              .col-sm-7.col-xs-6 #{@admin.name}
              .clearfix
              .bot-border
              .col-sm-5.col-xs-6.tital Last Name:
              .col-sm-7 #{@admin.last_name}
              .clearfix
              .bot-border
              .col-sm-5.col-xs-6.tital E-Mail:
              .col-sm-7 #{@admin.email}
              .clearfix
              .bot-border
              / /.box-body
            / /.box
#editProfile.modal.fade.in.new-admin-writer{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %h1 Edit Profile
        = form_for @admin, class: "form-horizontal" do |f|
          .field.form-group
            = f.label :email, class: "col-sm-4 control-label"
            %br
            .col-sm-8
              = f.email_field :email, autofocus: true, class: "form-control"
          .field.form-group
            = f.label :name, class: "col-sm-4 control-label"
            %br
            .col-sm-8
              = f.text_field :name, class: "form-control"
          .field.form-group
            = f.label :last_name, class: "col-sm-4 control-label"
            %br
            .col-sm-8
              = f.text_field :last_name, class: "form-control"
          .field.form-group
            = f.label :password, class: "col-sm-4 control-label"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br
            .col-sm-8
              = f.password_field :password, autocomplete: "off", class: "form-control",placeholder: "Enter passwords if passwords are to be changed."
          .field.form-group
            = f.label :password_confirmation, class: "col-sm-4 control-label"
            %br
            .col-sm-8
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          .actions.modal-btn-area
            = f.submit "Create", class: "btn btn-success pull-right"
    :javascript
      $(function() {
          $('#profile-image1').on('click', function() {
              $('#profile-image-upload').click();
          });
      });
