%h1 Poll Preview
= form_for @poll, class: "form-horizontal" do |f|
  = f.label "Poll title/name", class: "control-label"
  %br
  .col-sm-4
    = f.text_field :name, class: "form-control"
  = f.hidden_field :category_id,value: @category_id
  = f.hidden_field :poll_type,value: @poll_type
  = f.hidden_field :admin_id,value: current_admin.id
  - @questions.each do |question|
    = hidden_field_tag "question_ids[]", question.id
  %br
  .w3-content.w3-display-container
    - @questions.each do |question|
      .mySlides
        .row
          .col-sm-4
            %div.profile-image{:type => "file"}
              %img{:src => question.image.present? ? question.image.thumb :  asset_path("avatar.png")}
          .col-sm-8
            .field.form-group
              %p #{question.question}
            .field.form-group
              - if question.question_type == "Multi"
                %ul.question-list.edit-question
                  - question.options.each_with_index do |opt,ind|
                    %li
                      %input.form-control{:name => "question[options][#{ind+1}]",:disabled => true, :type => "text",:id=> "question_options",value: opt.second}
              - else
                %ul.radio-list
                  %li
                    %label.radio-inline
                      %input{:name => "question[correct_option]",:disabled => true, :type => "radio", :value => "true",:checked => to_boolean(question.correct_option)}>
                      TRUE
                  %li
                    %label.radio-inline
                      %input{:name => "question[correct_option]",:disabled => true, :type => "radio", :value => "false",:checked => !to_boolean(question.correct_option)}>
                      FALSE
    %button.w3-button.w3-black.w3-display-left{:onclick => "plusDivs(-1)",:type=>"button"} ❮
    %button.w3-button.w3-black.w3-display-right{:onclick => "plusDivs(1)",:type=>"button"} ❯
  .actions.poll-preview-buttons
    %button.btn.btn-questioin{:type=>"button"} Cancel
    = f.submit "Save Poll",class: "btn btn-questioin"
:javascript
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }
