.poll-page
  %h1 Questions for polls
  .row.polls-selects
    .col-md-3
      = select_tag "categories", content_tag(:option,'Category',:value=>"") + options_from_collection_for_select(@categories, "id", "name"),class: "form-control get-category"
    .col-md-3
      = select_tag "type", content_tag(:option,'Type',:value=>"") + "<option>Multi</option><option>T/F</option>".html_safe,class: "form-control get-type"
  #questions-table.margin-bottom.hide
    = render "questions_table"
  #preview-poll.margin-bottom
  .row
    %h1.left Created polls
    .col-md-3
      = select_tag "categories", content_tag(:option,'Category',:value=>"") + options_from_collection_for_select(@categories, "id", "name"),class: "form-control get-created-category"
    .col-md-3
      = select_tag "type", content_tag(:option,'Type',:value=>"") + "<option>Multi</option><option>T/F</option>".html_safe,class: "form-control get-created-type"
  #polls-table
    = render "polls_table"
#viewQuestion.modal.fade.in.text-center{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
