.col-md-2.col-sm-2.col-xs-2
  .mobile-menu
    %aside#sidebar
      %a#showLeft{:href => "#"}
        %span
        %span
        %span
      %nav#cbp-spmenu-s1.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left.navarea
        %ul.nav-area
          %li
            = link_to "My Account",account_admin_path(current_admin)
          %li
            %a{:href => "#"} Widgets
          %li
            %a{:href => "#"} Polls
          %li
            %a{:href => "#"} Questions
          %li{ class: "#{active_class('categories','index')}" }
            = link_to "Categories", categories_path
          %li{ class: "#{active_class('admin','index')}" }
            = link_to "Admins", admin_index_path
